body {
  margin: 0;
  padding: 0;
  background-color: #020202;
  /* background-image: linear-gradient(to right, #4163a9 , #7d4fa3); */
}

.page {
  display: table;
  height: 100%;
  width:100%;
  margin: 15em auto;
  overflow: hidden;
}

.home {
  display: table-cell;
  vertical-align: middle;
  text-align:center;
}
/* Titles */

a {
  text-decoration: none;
  color:#ffffff;
}

.t1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
}

.t2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 5vh;
  color: white;
  font-size: 2.5em;
}

.t3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1em;
  border: none;
  color: white;
  padding: 0.4em 0.8em;
  display: inline-block;
  outline: none;
}

.t4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
  line-height: 100px;
  margin-top: 5vh;
  color: white;
  font-size: 4em;
}

.t5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 5vh;
  color: white;
  font-size: 1.6em;
}


/* need to work on smaller device under 797px */

@media only screen and (max-device-width: 797px) {
  .t1 {
    font-size: 0.8em;
  }
  .t2 {
    font-size: 2em;
    padding: 0.2em 0.5em;
  }
  .t3 {
    font-size: 1em;
    padding: 0.2em 0.5em;
  }
  .t4 {
    font-size: 4em;
  }
  .t5 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  #logout {
    font-size: 0.8em;
  }

  .page {
    display: table;
    height: 80%;
    width: 90%;
    padding-top:4em;
    margin:1em auto;
    overflow: hidden;
  }
  
  .home {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    padding-top: 10em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    line-height: 1em;
    font-size: 0.7em;
    text-transform: uppercase;
  }

}

#startButton {
  border-radius: 45px;
  padding: 20px;
  width: 200px;
  background-color: #1DB954;
  cursor: pointer;
}

#LinkButton{
  border-radius: 45px;
  padding: 20px;
  width: 200px;
  background-color: #1DB954;
  cursor: pointer;
}

#logout {
  margin-top: 130px;
  display:flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}

#slothbox {
  border-radius: 45px;
  padding: 20px;
  width: 160px;
  border: .03rem solid white;
  margin: 10px;
  margin-top: 10px;
  background-color: inherit;
  cursor: pointer;
 }

#quokkabox {
  border-radius: 45px;
  padding: 20px;
  width: 160px;
  border: .03rem solid white;
  margin: 10px;
  margin-top: 10px;
  background-color: inherit;
  cursor: pointer;
}

#cheetahbox {
  border-radius: 45px;
  padding: 20px;
  width: 160px;
  border: .03rem solid white;
  margin: 10px;
  margin-top: 10px;
  background-color: inherit;
  cursor: pointer;
}

#curiousbox {
  border-radius: 45px;
  padding: 20px;
  width: 160px;
  border: .03rem solid white;
  margin: 10px;
  margin-top: 10px;
  background-color: inherit;
  cursor: pointer;
}

/* @media only screen and (min-width: 797px) {
  .smalldescriptions {
    opacity:0;
    display: none;
  }
} */

.descriptions {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 1.2em;
  line-height: 2;
  margin-top:20px;
  margin-left: 10px;
  float: inherit;
  position: absolute;
  min-width: 160px;
  opacity:0;
  transition: opacity 0.5s linear;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button#slothbox:hover + div.descriptions {
  opacity:1;
}

button#quokkabox:hover + div.descriptions {
  opacity:1;
}

button#cheetahbox:hover + div.descriptions {
  opacity:1;
}

button#curiousbox:hover + div.descriptions {
  opacity:1;
}