<!DOCTYPE html>
<html lang="en">
  <head>
	   <meta charset="utf-8">
	   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <meta name="description" content="Moooody / A Spotify playlist generator based on your mood">
     <meta name="keywords" content="Moooody / A Spotify playlist generator based on your mood">
 		 <title>Moooody</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.js"></script>
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&family=Work+Sans:wght@100&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap" rel="stylesheet">
     <!-- <link rel="stylesheet" href="css/style.css"> -->
     <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body style="background-image: linear-gradient(to right, #4163a9 , #7d4fa3);"
>
  <script>
    // Fade in on start
    $(document).ready(function() {
      $("body").hide().fadeIn(2000);
    });
  </script>

  <div class="home">
    <div class="page">
      <div class="t4">Oops! We're sorry</div>
      <div class="t5">Moooody is only available to Premium users. We've logged you out :(</div>
    </div>
  </div>

</body>

</html>
