<!DOCTYPE html5>
<html lang="en">
  <head>
	   <meta charset="utf-8">
	   <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="Moooody / A Spotify playlist generator based on your mood">
     <meta name="keywords" content="Moooody / A Spotify playlist generator based on your mood">
 		 <title>Moooody</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.js"></script>
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&family=Work+Sans:wght@100&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap" rel="stylesheet">

     <!-- <link rel="stylesheet" href="css/style.css"> -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="background-image: linear-gradient(to right, #4163a9 , #7d4fa3);"
>
  <script>
    // Fade in on start
    $(document).ready(function() {
      $("body").hide().fadeIn(2000);
    });
  </script>

  <div class="home">
    <div class="page">
      <div class="t4">Moooody</div>
      <div class="t5">A Spotify playlist generator based on your mood</div>
      <button id="startButton" class="t3">START</button>
    </div>
  </div>


  <script>
    // Start button
    document.getElementById("startButton").onclick = function() {
      window.location.href = '/start';
    };
    // Button style
    var c1 = randomColor({
      luminosity: 'light'
    });
    var c2 = randomColor({
      luminosity: 'light'
    });
    $("#startButton").mouseenter(function() {
      $(this).css("background", "red").css("background", "-webkit-linear-gradient(" + c1 + ", " + c2 + ")").css("background", "-o-linear-gradient(" + c1 + ", " + c2 + ")").css("background", "-moz-linear-gradient(" + c1 + ", " + c2 + ")").css(
        "background",
        " linear-gradient(" + c1 + ", " + c2 + ")");
    }).mouseleave(function() {
      $(this).css("background", "#1DB954");
    });
  </script>
  <!--<a href="/login">Login</a>-->

</body>

</html>
