html, body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #4163a9 , #7d4fa3);
}

/* Titles */


.t3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1em;
  border: none;
  color: white;
  padding: 0.4em 0.8em;
  display: inline-block;
  outline: none;
  cursor: pointer;
}

.t3:hover {
  outline: none;
}

.t4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
  line-height: 100px;
  margin-top: 5vh;
  color: white;
  font-size: 5em;
}

.t5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 5vh;
  color: white;
  font-size: 1.5em;
}

.t2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 5vh;
  color: white;
  font-size: 2.5em;
}

@media only screen and (max-device-width: 768px) {
  /* For mobile phones: */
  .t3 {
    font-size: 5em;
    padding: 0.2em 0.5em;
  }
  .t4 {
    font-size: 5em;
    margin-bottom: 0.5em;
  }
  .t5 {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
}


/* Tooltip text */

.t1 .tooltiptext {
  font-family: 'Roboto', sans-serif;
  visibility: hidden;
  background-color: #f7f7f7;
  opacity: 0.9;
  color: #a0a0a0;
  text-align: center;
  padding: 0.5em 0.5em;
  border-radius: 6px;
  font-size: 0.35em;
  text-align: center;
  bottom: 20%;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -15%;
  width: 30%;
}

@media only screen and (max-device-width: 768px) {
  /* For mobile phones: */
  .t1 .tooltiptext {
    font-size: 0.5em;
    margin-left: -40%;
    width: 80%;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */

.t1:hover .tooltiptext {
  visibility: visible;
}

#startButton {
  border-radius: 45px;
  padding: 20px;
  width: 200px;
  background-color: #1DB954;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}

#slothbox {
  border-radius: 45px;
  padding: 20px;
  width: 160px;
  border: .03rem solid white;
  margin: 10px;
  margin-top: 10px;
  background-color: inherit;
 }

#quokkabox {
  border-radius: 45px;
  padding: 20px;
  width: 160px;
  border: .03rem solid white;
  margin: 10px;
  margin-top: 10px;
  background-color: inherit;
}

#cheetahbox {
  border-radius: 45px;
  padding: 20px;
  width: 160px;
  border: .03rem solid white;
  margin: 10px;
  margin-top: 10px;
  background-color: inherit;
}


#curiousbox {
  border-radius: 45px;
  padding: 20px;
  width: 160px;
  border: .03rem solid white;
  margin: 10px;
  margin-top: 10px;
  background-color: inherit;
    }

button#slothbox:hover .descriptions {
  position: absolute;
  display: block;}

.descriptions {
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 1.5em;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}


button#slothbox:hover + div.descriptions {
    display: block;
    transition: opacity 300ms ease;
}

button#quokkabox:hover + div.descriptions {
    display: block;
    transition: opacity 300ms ease;
}

button#quokkabox:hover {
    border: hidden;
    transition: opacity 300ms ease;
}

button#cheetahbox:hover + div.descriptions {
    display: block;
    transition: opacity 300ms ease;
}

button#cheetahbox:hover {
    border: hidden;
    transition: opacity 300ms ease;
}

button#curiousbox:hover + div.descriptions {
    display: block;
    transition: opacity 300ms ease;
}
