body {
  margin: 0;
  padding: 0;
  background-color: #020202;
  /* background-image: linear-gradient(to right, #4163a9 , #7d4fa3); */
}

.home {
  display: table;
  height: 100%;
  width: 100%;
  /* margin: 15em auto; */
  margin: 0;
  overflow: hidden;
}

.mood{
  margin: 15em auto;
}

.page {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* Titles */

a {
  text-decoration: none;
  color:#ffffff;
}

.t1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
}

.t2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 5vh;
  color: white;
  font-size: 2.5em;
}

.t3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1em;
  border: none;
  color: white;
  padding: 0.4em 0.8em;
  display: inline-block;
  outline: none;
}

.t4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
  line-height: 100px;
  margin-top: 5vh;
  color: white;
  font-size: 4em;
}

.t5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 5vh;
  color: white;
  font-size: 1.6em;
}

#startButton {
  border-radius: 45px;
  padding: 20px;
  width: 200px;
  background-color: #1DB954;
  cursor: pointer;
}

#LinkButton{
  border-radius: 45px;
  padding: 7px;
  width: 255px;
  background-color: #1DB954;
  cursor: pointer;
}

p{
  display:flex;
  justify-content: flex-start;
  margin-left: 27px;
  align-items: center;
  font-size: 1.2em;
  }

#logout {
  margin-top: 190px;
  display:flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
}

#slothbox {
  border-radius: 45px;
  padding: 20px;
  width: 160px;
  border: .03rem solid white;
  margin: 10px;
  margin-top: 10px;
  background-color: inherit;
  cursor: pointer;
 }

#quokkabox {
  border-radius: 45px;
  padding: 20px;
  width: 160px;
  border: .03rem solid white;
  margin: 10px;
  margin-top: 10px;
  background-color: inherit;
  cursor: pointer;
}

#cheetahbox {
  border-radius: 45px;
  padding: 20px;
  width: 160px;
  border: .03rem solid white;
  margin: 10px;
  margin-top: 10px;
  background-color: inherit;
  cursor: pointer;
}

#curiousbox {
  border-radius: 45px;
  padding: 20px;
  width: 160px;
  border: .03rem solid white;
  margin: 10px;
  margin-top: 10px;
  background-color: inherit;
  cursor: pointer;
}

.descriptions {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 1.2em;
  line-height: 2;
  margin-top:20px;
  margin-left: 10px;
  float: inherit;
  position: absolute;
  min-width: 160px;
  opacity:0;
  transition: opacity 0.5s linear;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button#slothbox:hover + div.descriptions {
  opacity:1;
}

button#quokkabox:hover + div.descriptions {
  opacity:1;
}

button#cheetahbox:hover + div.descriptions {
  opacity:1;
}

button#curiousbox:hover + div.descriptions {
  opacity:1;
}

/* smaller device under 450px */

@media only screen and (max-device-width: 450px) {

  body {
    background-color: #16161a;
  }
  .t1 {
    font-size: 0.8em;
  }
  .t2 {
    margin-top: 2vh;
    font-size: 2em;
    padding: 0.2em 0.5em;
  }
  .t3 {
    font-size: 1em;
    padding: 0.2em 0.5em;
  }
  .t4 {
    font-size: 4em;
  }
  .t5 {
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  .home {
    display: table;
    height: 80%;
    width: 92%;
    /* padding-top:4em; */
    margin: 1em auto;
    overflow: hidden;
  }
  
  .page {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 5em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    line-height: 1.2em;
    font-size: 0.7em;
  }

}

@media only screen and (max-device-width: 450px) {
  body {
    margin: 0;
    padding: 0;
    max-width: 450px;
    background-color: #16161a;
  }
  
  .descriptions {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    margin-top: 0px;
    margin-left: 20%;
    /* float: inherit;
    min-width: 160px; */
    opacity:1;
    transition: opacity 0.5s linear;
  }
  
  #startButton {
    border-radius: 45px;
    padding: 20px;
    width: 200px;
    background-color: #1DB954;
  }

  #LinkButton{
    border-radius: 45px;
    padding: 0;
    width: 200px;
    background-color: #1DB954;
    cursor: pointer;
  }
  
  p{
    display:flex;
    justify-content: flex-start;
    margin-left: 27px;
    align-items: center;
    font-size: 0.9em;
    }
  
  .boxes {
    /* height: 90%; */
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .buttonarea {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #slothbox {
    font-size: 1em;;
    display: flex;
    align-items: start;
    justify-content: left;
    border-radius: 5px;
    padding: 20px;
    width:100%;
    height:100px;
    border: .03rem solid black;
    margin: 10px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #0288d1 , #1a237e);
   }
  
  #quokkabox {
    font-size:1em;
    display: flex;
    align-items: start;
    justify-content: left;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    height: 100px;
    border: .03rem solid black;
    margin: 10px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #ffd54f, #ff9800);
  }
  
  #cheetahbox {
    font-size:1em;
    display: flex;
    align-items: start;
    justify-content: left;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    height: 100px;
    border: .03rem solid black;
    margin: 10px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #cc0000 , #c51162);
  }
  
  #curiousbox {
    font-size:1em;
    display: flex;
    align-items: start;
    justify-content: left;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    height: 100px;
    border: .03rem solid black;
    margin: 10px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #ab47bc, #00c853);
  }
  
  
  ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
  }
  
  #logout {
    font-size: 0.8em;
    margin-top: 15px;
  }
}

@media only screen and (max-device-width: 300px) {

  body {
    max-width: 300px;
  }
  .descriptions {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    margin-top: 0px;
    margin-left: 20%;
    opacity:1;
    transition: opacity 0.5s linear;
  }
}